:root {
  --blue: #009ddc;
  --light-blue: #6bbbdb;
  --dark-blue: #004c6b;
  --red: #c3423f;
  --light-red: #dd5f5d;
  --dark-red: #6d2726;
  --tan: #c5afa4;
  --dark-tan: #695f5a;
  --grey: #c4c4c4;
  --dark-grey: #757575;
  --black: #3b3b3b;
  --green: #58c087;
  --dark-green: #234d36;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.td,
.th {
  border-bottom: 2px solid var(--grey);
  padding: 8px;
}

.tr:hover {
  background-color: #ddd;
}

.th {
  text-align: left;
  background-color: var(--dark-grey);
  color: white;
}
