.cardDisplay {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.card {
  padding: 10px;
}

.page {
  display: grid;
  grid-template-rows: auto auto;
}

.handArea {
  display: grid;
  justify-content: center;
}
