.handContainer {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin: 40px 0 70px;
  position: relative;
  transition: max-width 0.5s ease;
  .card {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: top ease 0.5s, left ease 0.5s, transform ease 0.5s;
    margin-left: -42.5px;
    &:hover {
      z-index: 100;
      top: -10px;
      box-shadow: 0 2px 8px 0 rgba(200, 200, 50, 0.4),
        0 4px 20px 0 rgba(200, 200, 50, 0.39);
    }
  }
}
