:root {
  --blue: #009ddc;
  --light-blue: #6bbbdb;
  --dark-blue: #004c6b;
  --red: #c3423f;
  --light-red: #dd5f5d;
  --dark-red: #6d2726;
  --tan: #c5afa4;
  --dark-tan: #695f5a;
  --grey: #c4c4c4;
  --dark-grey: #757575;
  --black: #3b3b3b;
  --green: #58c087;
  --dark-green: #234d36;
}

.greyButton {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-grey);
  box-shadow: 0 6px var(--black);
}

.greyButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.greyButton:hover {
  filter: brightness(110%);
}

.greyButton:active {
  transform: translateY(4px);
}

.blueButton {
  composes: greyButton;
  background-color: var(--blue);
  box-shadow: 0 6px var(--dark-blue);
}

.blueButton:active {
  box-shadow: 0 3px var(--dark-blue);
}

.greenButton {
  composes: greyButton;
  background-color: var(--green);
  box-shadow: 0 6px var(--dark-green);
}

.greenButton:active {
  box-shadow: 0 3px var(--dark-green);
}
.redButton {
  composes: greyButton;
  background-color: var(--red);
  box-shadow: 0 6px var(--dark-red);
}

.redButton:active {
  box-shadow: 0 3px var(--dark-red);
}

.input:disabled {
  opacity: 0.75;
}
